<html>
<head th:replace="~{base :: head}"></head>
<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Pedidos', 'mb-0')}"></div>
		<nav class="navbar navbar-expand bg-purple mb-3">
			<div class="container-fluid d-flex justify-content-between">
				<div class="navbar-nav">
					<a th:classappend ="${status} == null ? 'active'" href="/home">Todos</a> 
					<a th:classappend ="${status} == 'Aprobado' ? 'active'" class="nav-link" href="/home/aprobado">Aprobados</a> 
					<a th:classappend ="${status} == 'Esperando' ? 'active'" class="nav-link" href="/home/esperando">Esperando</a>
					<a th:classappend ="${status} == 'Terminado' ? 'active'" class="nav-link" href="/home/terminado">Entregados</a>
				</div>
				<a href="/pedido/formulario"><button
						class="btn btn-outline-primary">Nuevo</button></a>
			</div>
		</nav>
		<div class="card mb-3 " th:each="pedido : ${pedidos}">
		
		<th:block th:switch= "${pedido.status}">
				<div th:case="'ESPERANDO'" class="card-header text-bg-warning" th:text="${pedido.nombreProducto}">Nombre del producto</div>
				<div th:case="'APROBADO'" class="card-header text-bg-success" th:text="${pedido.nombreProducto}">Nombre del producto</div>
				<div th:case="'TERMINADO'" class="card-header text-bg-dark" th:text="${pedido.nombreProducto}">Nombre del producto</div>
		</th:block>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-5"> <!--  Here is necessary make a format for each three point separated for a doc and for 2 spaces comma-->
								Valor: <span th:if="${pedido.valor} != null" th:text="${'$'+#numbers.formatDecimal(pedido.valor,3,'POINT',2,'COMMA')}"></span>
							</div>
							<div class="col-md-7">
								Fecha de entrega: <span th:text="${#temporals.format(pedido.fechaDeEntrega, 'dd/MM/yyyy')}"></span>
							</div>
						</div>


						<div>Producto</div>
						<div>
							<input class="form-control" th:value="${pedido.urlProducto}"
								value="URL del producto" />
						</div>
						<div>Descripcion</div>
						<div>
							<textarea class="form-control" th:text="${pedido.descripcion}">descripcion</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${pedido.urlImagen}" src="">
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>
</body>
</html>