<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busos Moda</title>
    
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/componentes/header.css"/>
    <link rel="stylesheet" href="../static/css/header_completed.css"/>
    <link rel="stylesheet" href="../static/css/componentes/card.css"/>
    <link rel="stylesheet" href="../static/css/componentes/inputs.css"/>
    <link rel="stylesheet" href="../static/css/componentes/carrousel.css">
  </head>
  <body>
    <header class="header__ ">
      <img class="header__logo"
        src="../static/img/BusosModa.png"
        alt="Logotipo BusosModa"
      />
      <nav>
        <ul class="header__list-nav">
          <li class="list_nav"> 
          <div class="list__buttom__click">
            <li class="header__link list__item__click" id="productos"> <a href="home.html">Productos</a></img></li>
              
            </div>
            </li>
            <li class="header__link"><a class ="a_link" href="peticiones.html">Peticiones</a></li>
            <li class="header__link"><a href="sobrenosotros.html" class = "a_link">Sobre Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container_img">
        <div class="img_principal">
        <img src="../static/img/img_carrousel/Bienvenidos.png" alt="imagen Principal">
        </div>
        <div class="container_productos">
        <ul class="productos">
          <li>
              <h2>Busos Personalizados </h2>
              <img src="../static/img/img_carrousel/Chacket_Dinner.jpg">
              <p class="producto-descripcion">!Personalizacion con fechas, numeros, frases etc...
                Colores y Tallas Variadas!</p>
          </li>
          <li>
              <h2>Camisas Personalizadas</h2>
              <img src="../static/img/img_carrousel/I need my space.jpg">
              <p class="producto-descripcion">!Personalizacion con fechas, numeros, frases etc...
                Colores y Tallas Variadas!
              </p>
          </li>
          <li>
              <h2>Busos Pareja</h2>
              <img src="../static/img/img_carrousel/RickAndMortin.jpg">
              <p class="producto-descripcion">!Personalizacion con fechas, numeros, frases etc...
                Colores y Tallas Variadas!</p>
          </li>
      </ul>
    </div>
    </div>
    </main>
  </body><footer>
    <img src="../static/img/BusosModa.png" height="200px">
    <div>
      <a href="https://www.facebook.com/Busos-Moda-972146422836711"><img src="../static/img/facebook.png" alt="Logo Facebook" height="28px"></a>
      <a href="https://www.instagram.com/busosmoda/?hl=en"><img src="../static/img/instagram.png" alt="Logo Instagram" height="28px"></a>
    </div>
    <p class="copyright">&copy Copyright BusosModa</p>
  </footer>
  <script type="module" src="../static/js/carrousel.js"></script>
</html>
