<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
</head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<linkrel="stylesheet" href="../static/css/base/base.css" >
<linkrel="stylesheet" href="../static/css/componentes/header.css" >
<linkrel="stylesheet" href="../static/css/header_completed.css" >
<linkrel="stylesheet" href="../static/css/componentes/card.css" >
<linkrel="stylesheet" href="../static/css/componentes/inputs.css" >
<linkrel="stylesheet" href="../static/css/componentes/button.css" >

<link rel="stylesheet" href="../static/css/componentes/footer.css">

</head>
<body>
<header class="header__ ">
  <img class="header__logo"
    src="../static/img/BusosModa.png"
    alt="Logotipo BusosModa"
  />
  <nav>
    <ul class="header__list-nav">
      <li class="list_nav">
        <li class="header__link" ><a class ="a_link" href="index.html">Dashboard</a></li>
      <div class="list__buttom__click">

        <li class="header__link list__item__click" id="productos"><a href="productos.html">Productos</a></img></li>
        </div>
        <li class="header__link" ><a class ="a_link" href="peticiones.html">Peticiones</a></li>
    </ul>
  </nav>
</header>
<body>
</body>
<footer>
  <img src="../static/img/BusosModa.png" height="200px">
  <div>
    <a href="https://www.facebook.com/Busos-Moda-972146422836711"><img src="../static/img/facebook.png" alt="Logo Facebook" height="28px"></a>
    <a href="https://www.instagram.com/busosmoda/?hl=en"><img src="../static/img/instagram.png" alt="Logo Instagram" height="28px"></a>
  </div>
  <p class="copyright">&copy Copyright BusosModa</p>
</footer>

</html>