body {
	font-family: 'Poppins', sans-serif;
}

.logo-container {
	color: #000000;
	background: rgb(151,0,178);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8.75rem;
	margin-bottom: 2rem;
}

.logo-container img {
	width: 7rem;
}